@page "/"
@using AntDesign.Charts
@using AntDesign

<PageTitle>统计数据</PageTitle>


<Row Gutter="16">
    <Col Span="12">
        <Statistic Title="活跃用户" Value=@ActiveUsers />
    </Col>
    <Col Span="12">
        <Statistic Title="收入 (CNY)" Value=@Income Precision="2"/>
        <Button Style="margin-top: 16px;" Type="primary" OnClick=@flushData>
            刷新
        </Button>
    </Col>
</Row>


@using ManagerClient.Data
@inject BookService bookService;

@code {
    public int ActiveUsers = 0;
    public int Income = 0;

    protected override void OnInitialized()
    {
       flushData();
    }

    public async void flushData()
    {
        Income = bookService.GetIncome();
        ActiveUsers = bookService.GetUserCount();
    }
}