@inherits LayoutComponentBase
@using AntDesign


<PageTitle>图书销售管理系统商家端</PageTitle>

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>
    
    <main>
        <div class="top-row px-4">
            <a href="https://http3.wcode.net/?q=ncwu.store" target="_blank">
                <img src="https://http3.wcode.net/badges/http3.svg?host=ncwu.store" alt="" style="max-width: 100%; height: 24px;"/>
            </a>
            <Avatar Style="@($"background-color: #ffbf00; vertical-align: middle;")" Size="large">Admini</Avatar>
        </div>

        <article class="content px-4">
        @if (loginState) {
            @Body
        }
        </article>
    </main>
</div>

<script src="https://fastly.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>
<script src="/js/mouse.js"></script>


@using ManagerClient.Data
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject LoginService loginService;
@inject NavigationManager navigation;
@inject ProtectedSessionStorage session;

@code {

    [CascadingParameter(Name = "loginState")]
    protected bool loginState { get; set; } = false;
    protected override async void OnInitialized()
    {
        var path = navigation.Uri.Substring(navigation.BaseUri.Length - 1);
        var sessionTask = await session.GetAsync<bool>("loginState"); 
        
        loginState = sessionTask.Value;
        StateHasChanged();
        
        // Console.WriteLine("Status: " + loginStatus);

        if (!loginState && path != "/login")
        {
            navigation.NavigateTo("/login");
        }
    }


}