@inherits LayoutComponentBase
@using AntDesign

<PageTitle>ManagerClient</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Avatar Style="@($"background-color: #ffbf00; vertical-align: middle;")" Size="large">Admini</Avatar>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

