@inherits LayoutComponentBase
@using AntDesign

<PageTitle>ManagerClient</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://http3.wcode.net/?q=ncwu.store" target="_blank">
                <img src="https://http3.wcode.net/badges/http3.svg?host=ncwu.store" alt="" style="max-width: 100%; height: 24px;"/>
            </a>
            <Avatar Style="@($"background-color: #ffbf00; vertical-align: middle;")" Size="large">Admini</Avatar>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<script src="https://fastly.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>
<script src="/js/mouse.js"></script>
